	.card-body a {
				text-decoration: none;
			}

			.btn-fl:hover {
				cursor: pointer;
			}

			@media (max-width: 767px) {
				.logo-mobile {
					display: none
				}
			}
		    
                                a {
                                                text-decoration: none
                                }

                                ul,
                                ul ul {
                                                margin: 0;
                                                padding: 0;
                                                list-style: none
                                }

                                #wraper {
                                                width: 100%;
                                                margin: 0 auto;
                                                font-size: .8125em
                                }

                                .menu {
                                                width: auto;
                                                height: auto;
                                                -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1);
                                                -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1);
                                                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1)
                                }

                                .menu>li>a {
                                                background-color: #000;
                                                background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(224, 231, 255)));
                                                background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
                                                background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
                                                background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
                                                background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
                                                background-image: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
                                                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#727a86', EndColorStr='#505864');
                                                border-bottom: 0 solid #33373d;
                                                -webkit-box-shadow: inset 0 1px 0 0 #878e98;
                                                -moz-box-shadow: inset 0 1px 0 0 #878e98;
                                                box-shadow: inset 0 1px 0 0 #878e98;
                                                width: 100%;
                                                height: 2.8em;
                                                line-height: 2.8em;
                                                text-indent: 7.9em;
                                                display: block;
                                                position: relative;
                                                font-family: arial, Arial, Helvetica, sans-serif;
                                                font-weight: 600;
                                                color: #404040;
                                                font-size: 1em;
                                                text-shadow: 0 0 0 #000;
                                                text-decoration: none;
                                }

                                .menu ul li a {
                                                background: #fff;
                                                border-bottom: 1px solid #efeff0;
                                                width: 100%;
                                                height: 2.8em;
                                                line-height: 2.8em;
                                                text-indent: 3.75em;
                                                display: block;
                                                position: relative;
                                                font-family: arial, Arial, Helvetica, sans-serif;
                                                font-size: 1em;
                                                font-weight: 500;
                                                color: #789;
                                                text-decoration: none;
                                }

                                .menu ul li:last-child a {
                                                border-bottom: 1px solid #33373d
                                }

                                .menu>li>a:hover,
                                .menu>li>a.active {
                                                background-color: #35afe3;
                                                background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 231, 255)), to(rgb(224, 231, 255)));
                                                background-image: -webkit-linear-gradient(top, rgb(224, 231, 255), rgb(224, 231, 255));
                                                background-image: -moz-linear-gradient(top, rgb(224, 231, 255), rgb(224, 231, 255));
                                                background-image: -o-linear-gradient(top, rgb(224, 231, 255), rgb(224, 231, 255));
                                                background-image: -ms-linear-gradient(top, rgb(224, 231, 255), rgb(224, 231, 255));
                                                background-image: linear-gradient(top, rgb(224, 231, 255), rgb(224, 231, 255));
                                                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#606060', EndColorStr='#202020');
                                                border-bottom: 1px solid #404040;
                                                -webkit-box-shadow: inset 0 1px 0 0 #404040;
                                                -moz-box-shadow: inset 0 1px 0 0 #404040;
                                                box-shadow: inset 0 1px 0 0 #404040
                                }

                                .menu>li>a.active {
                                                border-bottom: 0 solid #404040
                                }

                                .menu>li>a:before {
                                                content: '';
                                               /* background-image: url(spriteupdate5.png?5);*/
                                                background-repeat: no-repeat;
                                                font-size: 36px;
                                                height: 1em;
                                                width: 1em;
                                                position: absolute;
                                                left: 55;
                                                top: 50%;
                                                margin: -.5em 0 0
                                }

                                @media only screen and (max-width:600px) {
                                                .menu>li>a:before {
                                                                left: 30
                                                }
                                }

                             
                                .menu>li>a span {
                                                font-size: .95em;
                                                display: inline-block;
                                                position: absolute;
                                                left: .3em;
                                                top: 50%;
                                                background: #fff;
                                                line-height: 1em;
                                                height: 1.5em;
                                                padding: .3em .6em;
                                                margin: -.8em 0 0;
                                                color: #222d36;
                                                text-indent: 0;
                                                text-align: center;
                                                -webkit-border-radius: .769em;
                                                -moz-border-radius: .769em;
                                                border-radius: .569em;
                                                -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
                                                -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
                                                box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
                                                text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
                                                font-weight: 500
                                }

                                .menu>li>a:hover span,
                                .menu>li a.active span {
                                                background: 404040
                                }

                                .menu>li>ul li a:before {
                                                content: 'â–º';
                                                font-size: 9px;
                                                color: #789;
                                                position: absolute;
                                                width: 1em;
                                                height: 1em;
                                                top: 0;
                                                left: -2.7em
                                }

                                .menu>li>ul li:hover a,
                                .menu>li>ul li:hover a span,
                                .menu>li>ul li:hover a:before {
                                                color: #2e9afe
                                }

                                .menu ul>li>a span {
                                                font-size: .857em;
                                                display: inline-block;
                                                position: absolute;
                                                right: 1em;
                                                top: 50%;/background: #fff;
                                                border: 1px solid #d0d0d3;
                                                line-height: 1em;
                                                height: 1.5em;
                                                padding: .4em .7em;
                                                margin: -.9em 0 0;
                                                color: #000;
                                                text-indent: 0;
                                                text-align: center;
                                                -webkit-border-radius: .769em;
                                                -moz-border-radius: 769em;
                                                border-radius: 769em;
                                                text-shadow: 0px 0px 0px rgba(255, 255, 255, .01);
                                }

                                div.sombreada_css3 {
                                                background-color: #8baf1c;
                                                width: 100%px;
                                                padding: 12px;
                                                color: #002399;
                                                box-shadow: 0px 1px 1px #333;
                                                -webkit-box-shadow: 0px 1px 1px #333;
                                                -moz-box-shadow: 0px 1px 1px #333;
                                }
                                .imgtan {
                                    
                                    height: 1.5em;
                                    width: 1.5em;
                                    position: absolute;
                                    left: 55px;
                                    top: 50%;
                                    margin: -.5em 0 0;
                                    border-radius: 50%;
                                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                                }

                                .enlace {
                                    text-decoration: none;
                                }
                                
                                
			@media screen and (min-width:0px) and (max-width:767px) {
				.iframe-container iframe {
					height: 266px
				}
				
				.imgtan {
                                    
                                    height: 1.5em;
                                    width: 1.5em;
                                    position: absolute;
                                    left: 55px;
                                    top: 50%;
                                    margin: -.5em 0 0;
                                    border-radius: 50%;
                                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                                }

			}
			
			 @media only screen and (max-width:600px) {
                                                body {
                                                                font-size: 70%
                                                }
                                                
                                                .imgtan {
                                    
                                    height: 1.5em;
                                    width: 1.5em;
                                    position: absolute;
                                    left: 40px;
                                    top: 50%;
                                    margin: -.5em 0 0;
                                    border-radius: 50%;
                                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
                                }

            }
                                
                                .submenudata {
                                    display: none;
                                }
